<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Lists" %>
  <h1 class="font-bold text-4xl">Lists</h1>

  <div class="flex justify-between items-center">
    <%= turbo_frame_tag id="new_list", src:new_list_path %>
  </div>

  <div id="lists" class="min-w-full flex flex-col gap-2">
    <% @lists.each do |list| %>
      <%= render list %>
    <% end %>
  </div>

</div>
