<h1 class="text-xl mb-2">Sign in</h1>

<%= form_with url: session_path, :html => { class: "flex flex-col gap-2"} do |form| %>
  <div class="flex flex-col">
    <%= form.email_field :email_address, class: "rounded", required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "text-input" %><br>
    <%= form.password_field :password, class: "rounded", required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "text-input" %><br>
    <%= form.submit "Sign in", class: "button-success" %>
  </div>
<% end %>

