<div class="container">
  <h1>Please verify your email address</h1>
  <%= button_to 'Click to resend verification email', resend_email_address_verifications_url(@user), method: :post, class: "button-primary"%>
</div>
