<%= turbo_frame_tag id="new_list_wishlist_item" do %>
  <div class="mx-auto w-full">
    <h1 class="font-bold text-xl">New wishlist item</h1>

    <%= render "form", wishlist_item: @wishlist_item %>

  </div>
<% end %>
