<div id="<%= dom_id list_share %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= list_share.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= list_share.type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">List:</strong>
    <%= list_share.list_id %>
  </p>

</div>
